<div class="wrapper">

    <section class="module-cover parallax fullscreen text-center" id="home" data-overlay="0.6">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <h1 class="m-b-30"><strong>BIENVENIDOS<br> Dentro de un minuto.</strong></h1>
                    <p class="m-b-40">Vea cómo sus usuarios experimentan su sitio web en tiempo real o vea  <br>
                    Tendencias para ver cualquier cambio en el rendimiento en el tiempo.</p>

                    <div class="col-md-11">
                        <p><strong>
                      <%= link_to 'Empezar', new_facultad_path, class: "btn btn-ttc active btn-info"%>
                    </strong></p>
                  </div>

                </div>
            </div>
        </div>
    </section>
  </div>
